<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<property name="LOG_HOME" value="${logHome}/oranplanet-api" />
	<property name="PATTERN_LAYOUT"
		value="[%d{yyy-MM-dd HH:mm:ss:SSS}][%level][%thread][%logger{36}]-%msg%n" />
	<property name="APP_ID" value="oranplanet" />

	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>${PATTERN_LAYOUT}</pattern>
		</encoder>
	</appender>

	<!-- Runtime Log -->
	<!-- 时间滚动输出 Marker为 trace 日志 -->
	<appender name="file—trace"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${LOG_HOME}/${APP_ID}_trace.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/trace/${APP_ID}_trace.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${PATTERN_LAYOUT}</pattern>
		</encoder>
	</appender>

	<!-- 时间滚动输出 Marker为 debug 日志 -->
	<appender name="file—debug"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${LOG_HOME}/${APP_ID}_debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/debug/${APP_ID}_debug.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${PATTERN_LAYOUT}</pattern>
		</encoder>
	</appender>

	<!-- 时间滚动输出 Marker为 info 日志 -->
	<appender name="file—info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ALL</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<file>${LOG_HOME}/${APP_ID}_info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/info/${APP_ID}_info.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${PATTERN_LAYOUT}</pattern>
		</encoder>
	</appender>

	<!-- 时间滚动输出 Marker为 warn 日志 -->
	<appender name="file—warn"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${LOG_HOME}/${APP_ID}_warn.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/warn/${APP_ID}_warn.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${PATTERN_LAYOUT}</pattern>
		</encoder>
	</appender>

	<!-- 时间滚动输出 Marker为 error 日志 -->
	<appender name="file—error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${LOG_HOME}/${APP_ID}_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/error/${APP_ID}_error.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${PATTERN_LAYOUT}</pattern>
		</encoder>
	</appender>
	
	<!-- TRACE < DEBUG < INFO < WARN < ERROR -->
	<root level="${logLevel}">
		<appender-ref ref="stdout" />
		<appender-ref ref="file—trace" />
		<appender-ref ref="file—debug" />
		<appender-ref ref="file—info" />
		<appender-ref ref="file—warn" />
		<appender-ref ref="file—error" />
	</root>
</configuration>